/* font family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: aliceblue;
    margin: auto;
    width: 1440px;
    height: auto;
}

a{
    text-decoration: none;
    color: white;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1080px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    margin: auto;
}

.awlad {
    font-family: monospace;
    font-weight: 800;
    font-size: xx-large;
}

.down-res {
    border: none;
    font-family: monospace;
    font-weight: 600;
    font-size: large;
    background: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}


.banner{
    background: url(assets/Hero-bg.png);
    text-align: center;
    padding: 30px;
}

.future{
    font-weight: 800;
    font-size: 48px;
}

.description{
    font-size: 16px;
    font-weight: 400;
}

.text{
    padding-left: 220px;
    padding-right: 220px;
    font-family: monospace;
}

.con-btn{
    font-family: monospace;
    font-weight: 600;
    font-size: large;
    background: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    color: white;
}