body{
    background-color: aliceblue;
    justify-content: center;
    width: 1440px;
    height: auto;
}

nav{
    padding: 10px;
    width: 1080px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.down-res{
    
}